.carousel-caption {
    top: 0;
    bottom: auto;
}
.carousel-inner {
background-color: black !important;
}
div.new_html_code {
      width:150px;
      height:400px;
      min-width:150px;
      min-height:300px;
      max-width:200px;
      max-height:300px;
      overflow:hidden;
      display:block;
      /*border:1px solid red;*/
    }