{% extends 'base2.html' %}
{% block content %}
<div class="container">
    <div class="col-lg-4 mx-auto text-center form p-4">
        <div class="px-2">
            <div class="text-center"><h2 style="color:blue;">{{context.name}}</h2>
            <div class="text-center">Username of restaurant: {{context.username}}</div><br>
            <div class="text-center"><h3>Book Your Table</h3></div><br>
            <form class="justify-content-center" method="POST">
                <div class="form-group">
                    <label for="tot_person">Total Persons </label>
                    <input type="tot_person" class="form-control" id="tot_person" name="tot_person" aria-describedby="tot_person" placeholder="Enter Total Persons" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="date">Date </label>
                    <input type="date" class="form-control" id="date" name="date" aria-describedby="date" placeholder="Enter Date" required>
                </div>
                <div class="form-group">
                    <label for="time">Time </label>
                    <input type="time" class="form-control" id="time" name="time" aria-describedby="time" placeholder="Enter Time" required>
                </div>
                <br>
                <input type="hidden" name="type_" value= "{{context.id}}" id= "type_" />
                <button type="submit" class="btn btn-danger btn-lg">Book!</button>
                <br>
                <br>
                {%if sess.booking_confirmed == 1%}
                        <h6 style="color:green;">Booking sent, Pending approval. Your booking ID is {{bid.bid}}</h6>
                {%endif%}
                {%if sess.booking_err == 1%}
                        <h6 style="color:red;">Booking already exists ! You already have a booking with ID {{bid.bid}} on this day at {{context.name}}</h6>
                {%endif%}
            </form>
            <form>
                <br>
                <input type="hidden" name="type_" value= "bth" id= "type_" />
                <button type="submit" class="btn btn-danger btn-lg">Back to Home</button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}