{% extends 'base2.html' %}
{% block content %}
<br><br>
<div class="container">
    <form class="justify-content-center" method="POST">
        <div class="form-group">
            <label for="exampleCost">Cost for Two</label>
            <select name="cost" id = "cost" placeholder = "Select Cost">
                {%if sess.cost_selected == 0 or sess.cost_selected == -1%}
                <option value = 0 selected> Less Than 1000 </option>
                <option value = 1> 1000-5000 </option>
                <option value = 2> Greater Than 5000 </option>
				{%endif%}
                {%if sess.cost_selected == 1 %}
                <option value = 0> Less Than 1000 </option>
                <option value = 1 selected> 1000-5000 </option>
                <option value = 2> Greater Than 5000 </option>
				{%endif%}
                {%if sess.cost_selected == 2 %}
                <option value = 0> Less Than 1000 </option>
                <option value = 1> 1000-5000 </option>
                <option value = 2 selected> Greater Than 5000 </option>
				{%endif%}
                
            </select>
        </div>
        <div class="form-group">
            <label for="exampleRatingr">Rating</label>
            <select name="rating" id = "rating" placeholder = "Select Rating">
                {%if sess.rating_selected == 4 or sess.rating_selected == -1  %}
                <option value = 4 selected> 4-5 </option>
                <option value = 3> 3-4 </option>
                <option value = 2> 2-3 </option>
                <option value = 1> 1-2 </option>
                <option value = 0> 0-1 </option>
                {%endif%}
                {%if sess.rating_selected == 3 %}
                <option value = 4> 4-5 </option>
                <option value = 3 selected> 3-4 </option>
                <option value = 2> 2-3 </option>
                <option value = 1> 1-2 </option>
                <option value = 0> 0-1 </option>
                {%endif%}
                {%if sess.rating_selected == 2 %}
                <option value = 4> 4-5 </option>
                <option value = 3> 3-4 </option>
                <option value = 2 selected> 2-3 </option>
                <option value = 1> 1-2 </option>
                <option value = 0> 0-1 </option>
                {%endif%}
                {%if sess.rating_selected == 1 %}
                <option value = 4> 4-5 </option>
                <option value = 3> 3-4 </option>
                <option value = 2> 2-3 </option>
                <option value = 1 selected> 1-2 </option>
                <option value = 0> 0-1 </option>
                {%endif%}
                {%if sess.rating_selected == 0 %}
                <option value = 4> 4-5 </option>
                <option value = 3> 3-4 </option>
                <option value = 2> 2-3 </option>
                <option value = 1> 1-2 </option>
                <option value = 0 selected> 0-1 </option>
                {%endif%}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleCuisine">Cuisine</label>
            <select name="cuisine" id = "cuisine" placeholder = "Select Cuisine">
                {% for j in cuisines %}
                    {%if sess.cuisine_selected == j[0] %}
                    <option value = '{{j[0]}}' selected> {{j[0]}} </option>
                    {%else%}
                    <option value = '{{j[0]}}'> {{j[0]}} </option>
                    {%endif%}
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="type_" value= "0" id= "type_" />
    <button type="submit" class="btn btn-success btn-small">Submit</button>
    </form>
</div>
Here are your faviourite Restaurants:
{% for restaurant in restaurants %}
<div class="card" style="width: 18rem;">
    <form class="justify-content-center" method="GET" action="{{url_for('booking')}}">
        <div class="card-body">
            <h5 class="card-title"><a href="{{url_for('restdisplay')}}?restid={{restaurant[2]}}" class="card-link">{{restaurant[0]}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <input type="hidden" name="restid" value= "{{restaurant[2]}}" id= "type_" />          
            <button type="submit" name="booking_restaurant" value={{restaurant[2]}} class="btn btn-danger btn-small" method="GET">Book Now</button>
          </div>
    </form>
  </div>
{% endfor %}

{% endblock %}