{% extends 'base1.html' %}
{% block content %}
<br><br>
<div class="text-center"><h3>Register</h3></div>
<div class="container">
		<div class="col-lg-4 mx-auto text-center form p-4">
			<div class="px-2">
				<form class="justify-content-center" method="POST">
					<div class="form-group">
						<label for="InputUsername">Username</label>
						<input type="username" class="form-control" id="username1" name="username2" aria-describedby="usernamelHelp" placeholder="Enter username">
					</div>
					<br>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="password1" name="password2" placeholder="Password">
					</div>
					<br>
					<button type="submit" class="btn btn-success btn-lg">Submit</button>
					<br>
				</form>
			</div>
		</div>
</div>

{% endblock %}