{% extends 'base1.html' %}
{% block content %}
<br><br>
<div class="container">
	<div class="row">
		<div class="col-lg-4 mx-auto text-center form p-4">
			<div class="px-2">
				<div class="text-center"><h3>User Register</h3></div><br>
				<form class="justify-content-center" method="POST">
					<div class="form-group">
						<label for="InputUsername">Username</label>
						<input type="username" class="form-control" id="username3" name="username3" aria-describedby="usernamelHelp" placeholder="Enter username">
					</div>
					{%if sess.error == 1 and sess.reg_user_username_err == 1%}
						<h6 style="color:red;">Invalid Username</h6>
					{%endif%}
					<br>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="password3" name="password3" placeholder="Password">
					</div>
					{%if sess.error == 1 and sess.reg_user_password_err == 1%}
						<h6 style="color:red;">Invalid Password</h6>
					{%endif%}
					<br>
					<input type="hidden" name="type_" value= "0" id= "type_" />
					<button type="submit" class="btn btn-success btn-lg">Submit</button>
					<br>
				</form>
			</div>
		</div>
		<div class="col-lg-4 mx-auto text-center form p-4">
			<div class="px-2">
				<div class="text-center"><h3>Restaurant Register</h3></div><br>
				<form class="justify-content-center" method="POST">
					<div class="form-group">
						<label for="InputUsername">Username</label>
						<input type="username" class="form-control" id="username4" name="username4" aria-describedby="usernamelHelp" placeholder="Enter username">
					</div>
					{%if sess.error == 1 and sess.reg_rest_username_err == 1%}
						<h6 style="color:red;">Invalid Username</h6>
					{%endif%}
					<br>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="password4" name="password4" placeholder="Password">
					</div>
					{%if sess.error == 1 and sess.reg_rest_password_err == 1%}
						<h6 style="color:red;">Invalid Password</h6>
					{%endif%}
					<br>
					<input type="hidden" name="type_" value= "1" id= "type_" />
					<button type="submit" class="btn btn-success btn-lg">Submit</button>
					<br>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}