{% extends 'base2.html' %}
{% block content %}
<style>
    body{
background-image:url('../static/pic6.jpg');
background-repeat: no-repeat;
height:100%;
background-size:cover;
}
</style>
<br><div class="text-center"><h2 style="color:blue;"><a href={{context.url}} class="card-link">{{context.name}}</a></h2>
<form class="justify-content-center" method="GET" action="{{url_for('booking')}}">
	<div class="card-body">
		<input type="hidden" name="restid" value= "{{context.id}}" id= "type_" />          
		<button type="submit" name="booking_restaurant" value={{context.id}} class="btn btn-danger btn-small" method="GET">Book Now</button>
	</div>
</form>
</div><br>
<nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
	<button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Information</button>
	<button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</button>
	<button class="nav-link" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="nav-history" aria-selected="false">Previous Bookings</button>
	<button class="nav-link" id="nav-write-tab" data-bs-toggle="tab" data-bs-target="#write" type="button" role="tab" aria-controls="nav-write" aria-selected="false">Write a Review</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="nav-info-tab">
		<div class="text-center" style="color:red;">Cuisines: {{context.cuisines}}</div>
		<div class="text-center">Location: {{context.location}}</div>
		<div class="text-center"><h5 style="color:green;">Rated {{context.rating}} by {{context.votes}} people</h5></div>
		<h4 style="color:red;">Listed as</h4>
		{{context.listed}}<br><br>
		<h4 style="color:red;">Type of Place</h4>
		{{context.types}}<br><br>
		<h4 style="color:red;">Dishes liked by people</h4>
		{{context.liked}}<br><br>
		<h4 style="color:red;">Average Cost</h4>
		{{context.costfortwo}}<br><br>
		<h4 style="color:red;">Online Order</h4>
		{{context.onlineorder}}<br><br>
		<h4 style="color:red;">Call</h4>
		{{context.phones}}<br><br>
		<h4 style="color:red;">Address</h4>
		{{context.address}}<br><br>
	</div>
	<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
		{%for review in context.reviews%}
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					User: {{review.0}}
					<h6 style="color:green;">Rated {{review.1}}</h6>
					{{review.2}}
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
	<div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="nav-history-tab">
		{% for b in context.previous_bookings%}
		<div class = "card">
			<div class = "text-center">
				<br>
				<h6 style="color:green;">Persons: <span style="color:black;">{{b.0}}</span></h6>
				<h6 style="color:green;">Date: <span style="color:black;">{{b.1}}</span></h6>
				<h6 style="color:green;">Time: <span style="color:black;">{{b.2}}</span></h6>
				<h6 style="color:green;">Status:
					{%if b.3 == 'ACCEPTED'%}<span style="color:green;">{%endif%}
					{%if b.3 == 'COMPLETED'%}<span style="color:yellow;">{%endif%}
					{%if b.3 == 'REJECTED'%}<span style="color:red;">{%endif%}
					{%if b.3 == 'PENDING'%}<span style="color:orange;">{%endif%}
					{{b.3}}</span></h6>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="tab-pane fade" id="write" role="tabpanel" aria-labelledby="nav-write-tab">
		<form method="POST" action="{{url_for('restdisplay')}}">
			<br>
		  	<div class="form-group">
				<label for="exampleCategory">Rating (Out of 5)</label>
				<select name="rating" id = "rating" placeholder = "Select Rating">
					{%if context.userrating == 1%}
						<option value = '1' selected> 1 </option>
					{%else%}
						<option value = '1'> 1 </option>
					{%endif%}
					{%if context.userrating == 2%}
						<option value = '2' selected> 2 </option>
					{%else%}
						<option value = '2'> 2 </option>
					{%endif%}
					{%if context.userrating == 3%}
						<option value = '3' selected> 3 </option>
					{%else%}
						<option value = '3'> 3 </option>
					{%endif%}
					{%if context.userrating == 4%}
						<option value = '4' selected> 4 </option>
					{%else%}
						<option value = '4'> 4 </option>
					{%endif%}
					{%if context.userrating == 5%}
						<option value = '5' selected> 5 </option>
					{%else%}
						<option value = '5'> 5 </option>
					{%endif%}
				</select>
			</div>
			<br>
		  	<div class="form-group">
				<label for="exampleFormControlTextarea1">Review</label><br>
				<textarea class="form-control" id="review" name="review" rows="5">{{context.review}}</textarea>
		  	</div><br>
		  	<input type="hidden" name="restid" value= "{{context.id}}" id= "type_" />
		  	<button type="submit" class="btn btn-primary btn-small" method="POST">Save</button>
		</form>
	</div>
</div>
{% endblock %}