{% extends 'base3.html' %}
{% block content %}
<style>
    body{
background-image:url('../static/pic6.jpg');
background-repeat: no-repeat;
height:100%;
background-size:cover;
}
</style>
<div class="container">
	<div class ="row">
		<div class="col-lg-4 mx-auto text-center form p-4">
			<div class="px-2">
				<form class="justify-content-center" method="GET" action="{{ url_for('edit_profile_rest')}}">
					<input type="hidden" name="type_" value= "0" id= "type_" />
					<div class="text-center"><h2 style="color:blue;">Profile</h2></div>
					<button type="submit" class="btn btn-primary btn-md">Edit Profile</button>
					<br><br>
				</form>
			</div>
		</div>
	</div>
</div>
<nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
	<button class="nav-link {{tab_state.0}}" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Information</button>
	<button class="nav-link {{tab_state.1}}" id="nav-bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="nav-bookings" aria-selected="false">Pending Bookings</button>
	<button class="nav-link {{tab_state.2}}" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</button>
	<button class="nav-link {{tab_state.3}}" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="nav-history" aria-selected="false">Processed Bookings</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade {{disp_state.0}}" id="info" role="tabpanel" aria-labelledby="nav-info-tab">
		<br><div class="text-center"><h3 style="color:red;"><a href={{context.url}} class="card-link">{{context.name}}</a></h3></div>
		<div class="text-center" style="color:red;">Cuisines: {{context.cuisines}}</div>
		<div class="text-center">Location: {{context.location}}</div>
		<div class="text-center"><h5 style="color:green;">Rated {{context.rating}} by {{context.votes}} people</h5></div>
		<h4 style="color:red;">Listed as</h4>
		{{context.listed}}<br><br>
		<h4 style="color:red;">Type of Place</h4>
		{{context.types}}<br><br>
		<h4 style="color:red;">Dishes liked by people</h4>
		{{context.liked}}<br><br>
		<h4 style="color:red;">Average Cost</h4>
		{{context.costfortwo}}<br><br>
		<h4 style="color:red;">Online Order</h4>
		{{context.onlineorder}}<br><br>
		<h4 style="color:red;">Call</h4>
		{{context.phones}}<br><br>
		<h4 style="color:red;">Address</h4>
		{{context.address}}<br><br>
	</div>
	<div class="tab-pane fade {{disp_state.1}}" id="bookings" role="tabpanel" aria-labelledby="nav-bookings-tab">
		{% for b in context.bookings%}
		<div class = "card">
			<div class = "text-center">
				<br>
				<h6 style="color:green;">User: <span style="color:black;">{{b.0}}</span></h6>
				<h6 style="color:green;">Persons: <span style="color:black;">{{b.1}}</span></h6>
				<h6 style="color:green;">Date: <span style="color:black;">{{b.2}}</span></h6>
				<h6 style="color:green;">Time: <span style="color:black;">{{b.3}}</span></h6>
				<form class="justify-content-center" method="POST">
					<input type="hidden" name="type_" value= 'a{{b.4}}' id= "type_" />
					<button type="submit" class="btn btn-primary btn-md" style="background-color:green;border:none;" >Accept</button>
					<br><br>
				</form>
				<form class="justify-content-center" method="POST">
					<input type="hidden" name="type_" value= 'r{{b.4}}' id= "type_" />
					<button type="submit" class="btn btn-primary btn-md" style="background-color:red;border:none;">Reject</button>
					<br><br>
				</form>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="tab-pane fade {{disp_state.2}}" id="reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
		{%for review in context.reviews%}
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					User: {{review.0}}
					<h6 style="color:green;">Rated {{review.1}}</h6>
					{{review.2}}
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
	<div class="tab-pane fade {{disp_state.3}}" id="history" role="tabpanel" aria-labelledby="nav-history-tab">
		{% for b in context.booking_history%}
		<div class = "card">
			<div class = "text-center">
				<br>
				<h6 style="color:green;">User: <span style="color:black;">{{b.0}}</span></h6>
				<h6 style="color:green;">Persons: <span style="color:black;">{{b.1}}</span></h6>
				<h6 style="color:green;">Date: <span style="color:black;">{{b.2}}</span></h6>
				<h6 style="color:green;">Time: <span style="color:black;">{{b.3}}</span></h6>
				<h6 style="color:green;">Status:
					{%if b.5 == 'ACCEPTED'%}<span style="color:green;">{%endif%}
					{%if b.5 == 'COMPLETED'%}<span style="color:yellow;">{%endif%}
					{{b.5}}</span></h6>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}